@charset "UTF-8";
body{position:relative;margin:0px;}
div#section{position:relative;}
.profileImg{border-radius:50%;float: left;width: 65px;padding:5px;height: 65px; }
.statusMessage{max-width: 330px;overflow: hidden;text-overflow: ellipsis;margin: 0px 10px 0px 2px;}
.userName{font-size: 20px;}
#bottomBar{left: 0px;position:fixed;bottom: 0px;background: gray;height: 70px;width:100%;}
#bottomBar ul{list-style: none;margin-top:0px;}
#bottomBar ul li{list-style-type: none;float:left;padding: 8px 10% 10px 0px}
#bottomBar2{left: 0px;position:fixed;bottom: 0px;background: none;height: 70px;width:100%;}
#bottomBar2 table{width:100%;}
#bottomBar2 table td{text-align: center;}
.mainField tbody .lineBtm{border-bottom: 1px solid #eee;}
.mainField{width:100%;border-collapse:collapse}
.birthText{font-size: 17px;}
.birthImg{border-radius:50%;float: left;width: 50px;padding:5px;}
.grayText{font-size: 13px;color:#696969;}
.friendList{position: relative;}
.noneList{list-style: none;padding-inline-start: 10px;margin-block-start: 5px;margin-block-end:5px;margin-inline-end:10px;}
.noneList li{padding:3px;font-size: 17px;border-bottom: 1px solid #eee;} 
.hiddenBox{position:absolute;height: 100px; background:white; border:1px solid #cecccc;width:150px;right:40px;   bottom: 100px;display: none;text-align: center;}
.touch{cursor:pointer;}
.btmImg{border-radius:50%;width: 50px;padding:5px;}